# Code
*.autosave
*.dll.manifest
*.exp
*_latexmk
*.pyc
*.egg-info
build
build-debug
#Makefile
CMakeCache.txt
CMakeLists.txt.user*
CMakeFiles
cmake_install.cmake
cloudclean/docs/*.pdf
*.manifest.*
*.user
*cbp
*.depends
*.dll*
*.lib
*.cxx
*.webm
*.run
*.pgm
*.o
*.a
*.so
*.so.*
*~
.fuse_*
*.pro.user
qrc_*.cpp
ui_*.h
debuglog.txt
# Docs
/docs/*/*.pdf
*.snm
*.d
*.fls
*.nav
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav.make
*.toc.make
*.out.make
*.aux.make
*.auxbbl.make
*.auxtarget.make
*.auxbbl.make.temp
